<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="#" />
    <link rel="stylesheet" href="/output.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <script src="https://unpkg.com/htmx.org@1.9.9"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/response-targets.js"></script>
    {{if .IsAuthenticated}}
    <script src="/refreshTokenUpdater.js"></script>
    {{end}}
  </head>
  <body class="font-sans h-screen">
    <!-- Navbar -->
    <div class="h-[60px] px-10 flex justify-between items-center">
      <a href="/" class="text-neutral text-2xl font-bold">Go Library Website</a>
      {{if .IsAuthenticated}}
      <div class="flex gap-3 items-center">
        <span class="text-xl">{{.Payload.Username}}</span>
        <span
          hx-post="/api/logout"
          class="hover:text-error text-xl font-semibold cursor-pointer"
          >Logout</span
        >
      </div>
      {{else}}
      <a href="/login" class="hover:text-info text-xl font-semibold">Login</a>
      {{end}}
    </div>

    {{embed}}
  </body>
</html>
